name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Cache
      uses: actions/cache@v2.0.0
      with:
        path: .build
        key: ${{ runner.os }}-swift-${{ hashFiles('Package.resolved') }} 
        restore-keys: |
          ${{ runner.os }}-swift-
      
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
