name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runner: ["macos-latest", "ubuntu-latest"]
    runs-on: ${{ matrix.runner }}

    steps:
    - uses: actions/checkout@v3
    
    - name: Cache
      uses: actions/cache@v3
      with:
        path: .build
        key: ${{ runner.os }}-swift-${{ hashFiles('Package.resolved') }} 
        restore-keys: |
          ${{ runner.os }}-swift-

    - name: Swift version
      run: swift --version

    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
